:root {
    --main-color: #3b7555;
    --main-color-hover: #3b7555;
    --function-color-hover: #518f6d;
    --main-font-size: 15px;
    --common-border: 1px #ddd solid;
    --dark-gray-border: 1px solid #999EA2;
}

body {
    font-family: sans-serif;
    font-size: var(--main-font-size);
    color: #333333;
}

a {
    text-decoration: none;
}

h6 {
    color: var(--main-color)
}

.width {
    width: 75%;
    min-width: auto;
    max-width: 1200px;
    margin: 0px auto;
}

/* start ----- header-nav ----- */
#header-nav {
    background-color: var(--main-color);
}

#header-nav a {
    color: #fff;
    padding: 13px 20px;
}

#header-nav #header-nav-logo {
    padding: 0px 20px;
}

#header-nav #header-nav-logo:hover {
    background-color: transparent;
}

#header-nav img {
    height: 20px;
}

/* user account */
a:hover {
    --bs-link-color-rgb: none;
    background-color: var(--function-color-hover);
}

#header-nav li a {
    padding: 0.6em;
}

#header-nav-right .dropdown-item {
    width: 300px;
    color: #333333;
}

.dropdown-item a:hover {
    background-color: #ddd;
}

#header-nav-right img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 auto 10px auto;

}

#user-name {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

#nav-user-setting::before {
    content: url(./imgs/cog-solid.svg);
    margin-left: 10px;
    padding-right: 10px;
}

#nav-user-orders::before {
    content: url(./imgs/ticket-alt-solid.svg);
    margin-left: 10px;
    padding-right: 10px;
}

#nav-logout::before {
    content: url(./imgs/sign-out-alt-solid.svg);
    margin-left: 10px;
    padding-right: 10px;
}

/* end ----- header-nav ----- */

/* action bar*/
.action-bar {
    background-color: #EEE;
    padding: 0.5em 0;
    margin: 0 auto;
    justify-content: space-between;
}

/* cancel & user guide button */
.action-bar-left a {
    display: inline-block;
    color: #333333;
    height: 2.5em;
    line-height: 1em;
    width: 100px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 5px;
    text-align: center;
    vertical-align: text-top;
}

.action-bar-left .btn-cancel a {
    margin: 0 10px;
}

.action-bar-left .btn-user-guide a {
    margin-right: 10px;
}

.action-bar-left .btn-cancel a::before {
    content: url(./imgs/circle-xmark-solid.svg);
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.action-bar-left .btn-cancel a:hover {
    background-color: #ddd;
}

.action-bar-left .btn-user-guide a::before {
    content: url(./imgs/book-open-solid.svg);
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.action-bar-left .btn-user-guide a:hover {
    background-color: #ddd;
}

/* timer */
.count-down-timer {
    background-color: #DB4455;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    width: 50%;
    min-width: 200px;
    border-radius: 4px;
    margin: auto;
    text-align: center;

}

/* confirm button */
.btn-confirm a {
    display: inline-block;
    /* box-sizing: border-box; */
    background-color: var(--main-color);
    color: #fff;
    height: 2.5em;
    line-height: 1em;
    max-width: 220px;
    min-width: 200px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
}

.btn-confirm a:hover {
    background-color: var(--function-color-hover);
}

.btn-confirm a::after {
    position: relative;
    top: -1px;
    left: 5px;
    display: inline-block;
    color: var(--main-color);
    font-weight: bold;
    content: counter(name);
    border: 1px #fff solid;
    background-color: #fff;
    height: 18px;
    vertical-align: -webkit-baseline-top;
    width: 18px;
    border-radius: 4px;
}

/* seat areas btns and showcase */
.seat-areas-and-showcases {
    background-color: #ddd;
}

/* display seat area & current area */
.display-seat-area {
    display: inline-block;
    max-width: 70%;
    height: 3em;
    line-height: 3em;
    border-radius: 4px;
    margin-left: 10px;
}

.display-seat-area a {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    height: 2.5em;
    line-height: 1em;
    width: 100px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
    vertical-align: baseline;
}

.display-seat-area-chart a:hover {
    background-color: var(--function-color-hover);
}

.display-seat-area-chart a::before {
    content: url(./imgs/compass-regular.svg);
    padding-right: 5px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.current-area {
    color: var(--function-color-hover);
    display: inline-block;
    height: 3em;
    line-height: 3em;
}

.current-area p::before {
    content: url(./imgs/street-view-solid.svg);
    margin-left: 20px;
    padding-right: 10px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.showcases {
    display: inline-block;
    height: 3em;
    line-height: 3em;
    margin-left: auto;
}

.showcase-selected {
    margin-right: 10px;
}

.showcase-selected::before {
    content: "●";
    color: var(--main-color);
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.showcase-available {
    margin-right: 10px;
}

.showcase-available::before {
    content: "●";
    color: #FFFFFF;
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.showcase-occupied {
    margin-right: 10px;
}

.showcase-occupied::before {
    content: "●";
    color: #AAAAAA;
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* stage, select seats & zoom functions */
.select-seats {
    --select-seat-bgc: #888888;
    background-color: var(--select-seat-bgc);
    position: relative;
    height: 600px;
}

/* stage */
.stage {
    height: 5em;
    line-height: 5em;
    width: 60%;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 2px;
    z-index: 1;
}

/* trapezoid */
.stage::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333333;
    z-index: -1;
    transform: perspective(0.5em) rotateX(-0.5deg);
    border-radius: .5rem;
}


/* zoom in & zoom out */
.zoom-in-zoom-out {
    padding: 0 15px;
    position: relative;
    top: -60px;
}

.zoom-in-zoom-out img {
    display: inline-block;
    box-sizing: content-box;
    background-color: #FFFFFF;
    width: 20px;
    border: 1px solid #333333;
    margin-top: -1px;
    padding: 10px;
    border-radius: 4px;
    margin: 0px;
    opacity: 0.9;
}

.zoom-in-zoom-out img:hover {
    opacity: 1;
}

.seats-group {
    background-color: var(--select-seat-bgc);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* display seats */
.row {
    background-color: var(--select-seat-bgc);
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.seat {
    display: inline-block;
    background: url(./imgs/available_armchair_icon.svg);
    height: 30px;
    width: 30px;
}

.seat:hover {
    background: url(./imgs/hover_armchair_icon.svg);
}

.selected-seat {
    background: url(./imgs/selected_armchair_icon.svg);
}

.occupied-seat {
    background: url(./imgs/occupied_armchair_icon.svg);
}

.modal-body ol {
    list-style: disc;
}

.modal-body ol>img {
    vertical-align: top;
    width: 90%;
    margin: auto;
}

.modal-footer button {
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: var(--main-color);
}

@media screen and (max-width: 768px) {
    .width {
        width: 100%;
        min-width: 100%;
    }

    .count-down-timer {
        width: 100%;
    }

    .action-bar {
        padding: 0;
    }

    .action-bar-left {
        position: fixed;
        bottom: 4em;
        z-index: 1;
    }

    .display-seat-area {
        justify-content: space-between;
        margin: auto;
    }



    .current-area p {
        margin-left: auto;
    }

    .showcases div {
        visibility: none;
        display: none;
    }

    .select-seats {
        overflow-x: scroll;
        height: auto;
        padding-bottom: 5em;
    }

    .stage {
        height: 3em;
        line-height: 3em;
        min-width: 520px;
        margin: 0 auto 2em auto;
    }

    .zoom-in-zoom-out img {
        display: none;
    }

    .seats-group {
        width: 520px;
        position: relative;
        transform: none;
        top: auto;
        left: -20px;
        margin: auto;
        justify-content: center;
    }

    .seat {
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
    }

    .row {
        margin: auto;
    }

    .btn-user-guide {
        display: none;
    }

    .btn-cancel {
        position: fixed;
        bottom: 10px;
        left: 0;
    }

    .btn-confirm a {
        width: 100px;
        position: fixed;
        bottom: 10px;
        right: 0;
        z-index: 1;
    }

    /* .fixed-btns {
        background-color: #888888;
        height: 3em;
    } */
}