:root {
    --main-color: #3b7555;
    --main-color-hover: #3b7555;
    --function-color-hover: #518f6d;
    --main-font-size: 15px;
    --common-border: 1px #ddd solid;
    --dark-gray-border: 1px solid #999EA2;
}

body {
    /* font-family: sans-serif; */
    font-size: var(--main-font-size);
    color: #333333;
}

a {
    text-decoration: none;
}

h2,
h6 {
    color: var(--main-color);
    font-weight: bold;
}

h6 {
    font-size: 20px;
    padding: 10px 0;
}

.wrap {
    width: 75%;
    min-width: auto;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
}

/* start ----- header-nav ----- */
#header-nav {
    background-color: var(--main-color);
}

#header-nav a {
    color: #fff;
}

#header-nav a:hover {
    background-color: var(--main-color-hover);
}

h1 {
    display: inline-block;
    padding: 10px 0px;
}

#header-nav #header-nav-logo:hover {
    background-color: transparent;
}

#header-nav img {
    height: 20px;
}

#header-nav-search-div {
    background-color: #fff;
}

#header-nav-magnifier-icon {
    padding: 0px 5px 0px 10px;
}


#header-nav-search-input {
    border: none;
    width: 110px;
    height: 40px;
    transition: .3s ease;
}

#header-nav-search-input:focus {
    outline: none;
    width: 130px;
}

#header-nav .dropdown-item {
    width: 300px;
    color: #333;
}

#header-nav .dropdown-item:hover {
    background-color: #ddd;
}

#header-functions-right i {
    margin-right: 10px;
}

#header-nav-search-div {
    margin-left: 10px;
}

#header-nav .dropdown-menu p {
    padding: 13px 15px;
    font-weight: 700;
}

#header-nav .dropdown-menu img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

#user-name {
    text-align: center;
}

/* end ----- header-nav ----- */



/* action bar*/
.action-bar {
    background-color: #EEE;
    padding: 0.5em 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* cancel & user guide button */
.action-bar-left a {
    display: inline-block;
    color: #333333;
    height: 2.5em;
    line-height: 1em;
    width: 100px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 5px;
    text-align: center;
    vertical-align: text-top;
}

.action-bar-left .btn-cancel a {
    margin: 0 10px;
}

.action-bar-left .btn-user-guide a {
    margin-right: 10px;
}

.action-bar-left .btn-cancel a::before {
    content: url(./imgs/circle-xmark-solid.svg);
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.action-bar-left .btn-cancel a:hover {
    background-color: #ddd;
}

.action-bar-left .btn-user-guide a::before {
    content: url(./imgs/book-open-solid.svg);
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.action-bar-left .btn-user-guide a:hover {
    background-color: #ddd;
}

/* timer */
.count-down-timer {
    background-color: #DB4455;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    width: 100%;
    min-width: 200px;
    border-radius: 4px;
    margin: auto;
    text-align: center;
}

/* confirm button */
.btn-confirm a {
    display: inline-block;
    /* box-sizing: border-box; */
    background-color: var(--main-color);
    color: #fff;
    height: 2.5em;
    line-height: 1em;
    width: 220px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
}

.btn-confirm a:hover {
    background-color: var(--function-color-hover);
}

.btn-confirm a::after {
    position: relative;
    top: -1px;
    left: 5px;
    display: inline-block;
    color: var(--main-color);
    font-weight: bold;
    content: counter(name);
    border: 1px #fff solid;
    background-color: #fff;
    height: 18px;
    vertical-align: -webkit-baseline-top;
    width: 18px;
    border-radius: 4px;
}

/* start ---- btn-confirm clicked ---- */
.confirm-wrap {
    position: absolute;
    top: -5px;
    left: 78.333334%;
    right: -10px;
    width: 250px;
    height: 640px;
    background-color: #FFFFFF;
    z-index: 2;
    border: var(--common-border);
    border-radius: 4px;
}

.confirm-wrap {
    display: "";
}

.display-total-amount .total-amount {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.display-total-amount .total-amount span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #888888;
    font-weight: normal;
    margin: 10px 0;
}

.display-total-amount .total-amount p {
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
    margin: 10px 0;
}

.seats-selection-complete {
    margin-bottom: 20px;
}

.seats-selection-complete a {
    display: block;
    background-color: var(--main-color);
    color: #fff;
    height: 3em;
    line-height: 1.5em;
    width: 220px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
}

.seats-selection-complete a:hover {
    background-color: var(--function-color-hover);
}

.selected-tickets {
    border-top: var(--common-border);
    border-bottom: var(--common-border);
    background-color: #e5e5e5;
    padding: 10px;
    margin: auto;
}

.ticket-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket-detail .price {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 20px 10px;
    margin-left: -1px;
}

.ticket-with-seat-detail {
    margin-right: 5px;
}

.ticket-with-seat-detail .ticket-type {
    /* display: inline-block; */
    color: #888888;
    text-align: right;
}


/* end ---- btn-confirm clicked---- */
/* seat areas btns and showcase */
.seat-areas-and-showcases {
    background-color: #ddd;
}

/* display seat area & current area */
.display-seat-area {
    display: inline-block;
    max-width: 70%;
    height: 3em;
    line-height: 3em;
    border-radius: 4px;
    margin-left: 10px;
}

.display-seat-area a {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    height: 2.5em;
    line-height: 1em;
    width: 100px;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
    vertical-align: baseline;
}

.display-seat-area-chart a:hover {
    background-color: var(--function-color-hover);
}

.display-seat-area-chart a::before {
    content: url(./imgs/compass-regular.svg);
    padding-right: 5px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.current-area {
    color: var(--function-color-hover);
    display: inline-block;
    height: 3em;
    line-height: 3em;
}

.current-area p::before {
    content: url(./imgs/street-view-solid.svg);
    margin-left: 20px;
    padding-right: 10px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.showcases {
    display: inline-block;
    height: 3em;
    line-height: 3em;
    margin-left: auto;
}

.showcase-selected {
    margin-right: 10px;
}

.showcase-selected::before {
    content: "●";
    color: var(--main-color);
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.showcase-available {
    margin-right: 10px;
}

.showcase-available::before {
    content: "●";
    color: #FFFFFF;
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.showcase-occupied {
    margin-right: 10px;
}

.showcase-occupied::before {
    content: "●";
    color: #AAAAAA;
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* stage, select seats & zoom functions */
.select-seats {
    --select-seat-bgc: #888888;
    background-color: var(--select-seat-bgc);
    position: relative;
    height: 600px;
}

/* stage */
.stage {
    height: 5em;
    line-height: 5em;
    width: 60%;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 3px;
    left: 0;
    z-index: 1;
}

/* trapezoid */
.stage::before {
    content: '';
    position: absolute;
    top: 0;
    right: 3em;
    bottom: 0;
    left: 3em;
    background-color: #333333;
    z-index: -1;
    transform: perspective(0.5em) rotateX(-0.4deg);
    border-radius: .5rem;
    margin-bottom: -10px;
}


/* zoom in & zoom out */
.zoom-in-zoom-out {
    padding: 0 15px;
    position: relative;
    top: -60px;
}

.zoom-in-zoom-out img {
    display: inline-block;
    box-sizing: content-box;
    background-color: #FFFFFF;
    width: 20px;
    border: 1px solid #333333;
    margin-top: -1px;
    padding: 10px;
    border-radius: 4px;
    margin: 0px;
    opacity: 0.9;
}

.zoom-in-zoom-out img:hover {
    opacity: 1;
}

.seats-group {
    background-color: var(--select-seat-bgc);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* display seats */
.row {
    background-color: var(--select-seat-bgc);
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.seat {
    display: inline-block;
    background: url(./imgs/available_armchair_icon.svg);
    height: 30px;
    width: 30px;
}

.seat:hover {
    background: url(./imgs/hover_armchair_icon.svg);
    cursor: pointer;
}

.selected-seat {
    display: inline-block;
    background: url(./imgs/selected_armchair_icon.svg);
    height: 30px;
    width: 30px;
}

.occupied-seat {
    display: inline-block;
    background: url(./imgs/occupied_armchair_icon.svg);
    height: 30px;
    width: 30px;
}

.disabled {
    pointer-events: none;
    background: local;
}

.rwd-fixed-btns {
    display: none;
}

.modal-body p {
    line-height: 1.5em;
}

.modal-body ol>li {
    line-height: 1.5em;
    margin-left: 10px;
    list-style: auto;
}

.modal-body ol>img {
    vertical-align: top;
    width: 100%;
    margin: 10px auto;
}

.modal-footer button {
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: var(--main-color);
}

@media screen and (max-width: 1599px) {
    .confirm-wrap {
        transform: translateX(0%);
        z-index: 2;
    }
}


@media screen and (max-width: 1440px) {
    .confirm-wrap {
        transform: translateX(-10%);
        z-index: 2;
    }
}

@media screen and (max-width: 900px) {
    .btn-confirm a {
        width: 150px;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    /* MOBILE */
    @media (max-width:768px) {

        /* start-li0 */
        .wrap {
            width: 90%;
        }

        /* end-li0 */

        .width {
            width: 90%;
            margin: 0px auto;
        }


        /* start ----- MOBILE-header-nav ----- */


        #header-functions-right li a {
            padding: 13px 20px;
        }


        #header-nav-logo-and-menu-button-wrap {
            margin: 15px 0px 10px;
        }


        #header-functions {
            display: none;
            padding: 5px 0px 10px;
        }


        #header-functions a {
            display: block;
            padding: 15px 0px;
        }


        #header-nav-search-div {
            margin: 15px 0px;
        }


        #nav-checkbox:checked~div #header-functions {
            display: block;
        }


        #nav-checkbox-label {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: var(--main-color);
            border: #fff 1px solid;
            border-radius: 5px;
            margin-bottom: 5px;
            /* for ::after */
            position: relative;
        }


        #nav-checkbox-label::after {
            content: '';
            display: inline-block;
            position: absolute;
            inset: 0;
            margin: auto;
            width: 80%;
            height: 2px;
            background-color: #fff;
            border-radius: 1px;
            box-shadow: 0px 6px 0 0 #fff, 0px -6px 0 0 #fff;
        }


        /* end ----- MOBILE-header-nav ----- */
    }

    /* li0 */
    .wrap {
        width: 100%;
        min-width: 100%;
    }

    .action-bar {
        display: inline-block;
        padding: 0;
    }

    .count-down-timer {
        width: 100%;
    }

    .action-bar-left {
        display: none;
    }

    .action-bar-left .btn-cancel {
        display: none;
    }

    .action-bar .btn-confirm {
        display: none;
    }

    .confirm-wrap {
        display: none;
    }

    .modal-header .selected-tickets {
        display: inline-block;
        color: var(--main-color);
        border: none;
        background-color: transparent;
        margin-left: 0;
        font-weight: bold;
        font-size: 20px;
    }

    .modal-body .ticket-detail {
        justify-content: space-evenly;
    }

    .modal-footer .total-amount {
        margin-right: 80px;
    }

    .modal-footer .total-amount span {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        color: #888888;
        font-weight: normal;
        margin: 10px 0;
    }

    .modal-footer .total-amount p {
        display: inline-block;
        font-size: 26px;
        font-weight: 900;
        margin: 10px 0;
    }

    .modal-footer .seats-selection-complete {
        margin: auto;
    }

    .rwd-fixed-btns .btn-cancel a {
        display: inline-block;
        color: #333333;
        height: 2.5em;
        line-height: 1em;
        width: 100px;
        border: var(--common-border);
        border-radius: 4px;
        padding: 10px 5px;
        text-align: center;
        vertical-align: text-top;
        margin: 0 10px;
    }

    .rwd-fixed-btns .btn-cancel a::before {
        content: url(./imgs/circle-xmark-solid.svg);
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }

    .rwd-fixed-btns .btn-cancel a:hover {
        background-color: #ddd;
    }

    .display-seat-area {
        justify-content: space-between;
        margin-left: auto;
    }

    .current-area p {
        margin-left: auto;
    }

    .showcases div {
        visibility: none;
        display: none;
    }

    .select-seats {
        overflow-x: auto;
        overflow-y: clip;
        height: 900px;
        padding-bottom: 5em;
    }

    .stage {
        min-width: 575px;
        margin: 0 auto;
    }

    .zoom-in-zoom-out img {
        display: none;
    }

    .seats-group {
        width: 575px;
        position: relative;
        transform: none;
        top: 4em;
        left: -2em;
        right: -2em;
        /* left: 0; */
    }

    .seat {
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
    }

    .btn-user-guide {
        display: none;
    }

    .rwd-fixed-btns {
        position: fixed;
        bottom: 0;
        background-color: #eee;
        width: 100%;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

/* ipad */
@media (min-width:769px) {

    @media (min-width:769px) and (max-width:1150px) {

        /* start-li0 */
        .wrap {
            width: 95%;
        }

        .confirm-wrap {
            transform: translateX(-20%);
            z-index: 2;
        }

        /* end-li0 */

        .width {
            width: 95%;
        }

        #header-nav a {
            padding: 13px 10px;
        }

        #user-account i {
            display: inline-block;
            margin-right: 5px;
        }

        #user-account span {
            display: none;
        }
    }



    @media (min-width:1151px) {

        /* start-li0 */
        .wrap {
            width: 75%;
        }

        /* end-li0 */

        .width {
            width: 75%;
        }

        #header-nav a {
            padding: 13px 20px;
        }

        #user-account i {
            display: none;
        }

        #user-account span {
            display: inline-block;
        }
    }

    .width {
        max-width: 1200px;
        margin: 0px auto;
    }

    /* start ----- DESKTOP-header-nav ----- */
    #header-nav-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #header-functions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        padding-left: 120px;
    }

    #header-functions-left,
    #header-functions-right {
        display: flex;
        align-items: center;
    }

    /* end ----- DESKTOP-header-nav ----- */
}