:root {
    --light-green: #82b99b;
    --main-green: #3b7555;
    --dark-green: #1d5545;
    --function-color-hover: #518f6d;
    --light-gray: #ddd;
    --dark-gray: #888;
    --main-font-size: 15px;
    --common-border: 1px #ddd solid;
    --dark-border: 1px #999EA2 solid;
    --common-border-radius: 5px;
}

h2 {
    text-align: left;
}

.wrap {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

/* start ---- event img */
.event-img-bgc {
    background-color: #EEEEEE;
    border-bottom: var(--common-border);
}

.event-img {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.event-img img {
    display: block;
    width: 100%;
    max-height: auto;
}

/* end ---- event img */

/* start ---- event name & event-detail ---- */
h2 {
    color: var(--main-green);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;
}

.event-detail tr {
    line-height: 2em;
}

.event-detail th {
    width: 95px;
    color: #999999;
    font-weight: bold;
}

.event-detail td {
    color: #333333;
}

.event-detail table a {
    color: var(--main-green);
}

#add-to-calendar,
#view-the-map {
    display: inline-block;
}

#add-to-calendar::before {
    content: url(./imgs/calendar-alt-solid.svg);
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 5px 0 15px;
}

#view-the-map::before {
    content: url(./imgs/map-marker-alt-solid.svg);
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 5px 0 15px;
}

/* end ---- event name & event-detail ---- */

/* start ----purchase steps---- */
.progress_container {
    margin: 20px auto 0 auto;
}

.step_progress_bar {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 20px;
}

.step {
    text-align: center;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    border-radius: 50px;
    position: relative;
    border: 3px solid rgb(218, 218, 218);
}

p.step_text {
    margin: 10px 0;
    color: var(--main-green);
    line-height: 2;
    width: 150px;
    vertical-align: middle;
    text-align: left;
    padding-left: 8px;
}

.number {
    margin-left: 10px;
    border-radius: 100%;
    line-height: 2;
    width: 30px;
    border: 1px solid var(--function-color-hover);
    background-color: white;
    color: var(--button-clicked-color);
    display: inline-block;
    transition: background-color 500ms;
}

.step.progressing {
    color: var(--main-green);
    background-color: var(--main-green);
    border: 3px solid var(--button-clicked-color);
}

.step.progressing p {
    color: white;
    font-weight: bold;
}

.step.progressing span {
    color: var(--function-color-hover);
}

.step.progressing::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 67%;
    background-color: #b8b3b3;
    left: 100%;
    bottom: 43%;
    z-index: -1;
}

.step::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 67%;
    background-color: #d9d9d9;
    left: 100%;
    bottom: 43%;
    z-index: -1;
    opacity: 0.5;
}

.step:last-child::after {
    display: none;
}

/* end ----purchase steps---- */

/* start ---- seats area chart img */
.seats-areas-chart {
    display: block;
    max-width: 1200px;
    padding: 15px;
    margin: 15px auto;
}

.seats-areas-chart img {
    display: block;
    width: 100%;
}

/* end ---- seats area chart img */

/* start ---- ticket-price */
.ticket-price-table {
    margin-bottom: 30px;
}

.ticket-price-title {
    display: flex;
    border-bottom: 2px solid #333333;
    padding: 5px;
}

.ticket-price-title .ticket-type {
    width: 40%;
}

.ticket-price-title .seats-select-type {
    width: 20%;
}

.ticket-price-title .the-price {
    width: 15%;
    text-align: right;
}

.ticket-data-row {
    display: flex;
    align-items: center;
    height: 4em;
    line-height: 1em;
    margin-top: 10px;
    border: var(--common-border);
    border-left: 3px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.area {
    flex-direction: column;
    width: 40%;
    vertical-align: middle;
}

.area span {
    display: block;
    width: 90%;
    font-size: 13px;
    color: #999999;
    margin-top: 5px;
}

.select-type {
    width: 20%;
}

.ticket-price {
    width: 15%;
    text-align: right;
}

.amount {
    width: 24%;
    text-align: right;
    line-height: 2em;
    vertical-align: middle;
}

#input-ticket-amount {
    width: 50px;
    height: 2em;
    text-align: center;
    padding-inline-start: 0px;
    border: 1px solid #999999;
}

#btn-minus,
#btn-plus {
    width: 2em;
    height: 2em;
    margin-inline: -6px;
    padding-inline: 0px 0px;
    background: #FFF;
    border: 1px solid #999999;
    font-weight: bold;
}

#btn-minus {
    border-radius: 4px 0px 0px 4px;
    opacity: 0.5;
}

#btn-plus {
    border-radius: 0px 4px 4px 0px;
}

input {
    line-height: normal;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* hide input number arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* hide input number arrows Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* align input number */
input[type=button] {
    -webkit-appearance: auto;
}

/* end ---- ticket-price */

/* start ---- agreement */
.agreement {
    margin-bottom: 30px;
}

.agreement a {
    color: var(--main-green);
}

/* end ---- agreement */

/* start ---- btn-next-step */
.btn-next-step {
    text-align: center;
    margin-bottom: 50px;
}

.btn-next-step a {
    display: inline-block;
    background-color: var(--main-green);
    color: #fff;
    height: 2.5em;
    line-height: 1em;
    width: 30%;
    border: var(--common-border);
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

@media (min-width:769px) {

    @media (min-width:769px) and (max-width:1200px) {
        .wrap {
            width: 90%;
        }

        .event-img {
            width: 90%;
        }
    }

    @media (min-width:1201px) {
        .wrap {
            width: 75%;
        }

        .event-img {
            width: 75%;
        }
    }

    .wrap {
        max-width: 1200px;
        margin: 0px auto;
    }
}

@media only screen and (max-width:768px) {
    .wrap {
        width: 100%;
        margin: 0 10px;
    }

    .event-img img {
        max-width: 100%;
    }

    /* start -------progress bar--------- */
    .progress_container {
        width: 95%;
        margin: auto;
        padding: 20px 0;
    }

    .step_progress_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    .step {
        color: var(--button-clicked-color);
        border: none;
        padding: 10px 0px;
        border-radius: 0px;
    }

    .step:first-child {
        border-radius: 10px 10px 0 0;
    }

    .step:last-child {
        border-radius: 0 0 10px 10px;
    }

    p.step_text {
        margin-top: 15px;
        line-height: 0;
        text-align: left;
        padding-left: 8px;
        font-weight: normal;
    }

    .number {
        margin-left: 10px;
        border-radius: 100%;
        border: 1px solid var(--button-clicked-color);
        background-color: white;
        color: var(--button-clicked-color);
    }

    .step.progressing p {
        font-weight: bold;
    }

    .step.progressing {
        border: none;
    }

    .step.progressing::after {
        display: none;
    }

    .step::after {
        display: none;
    }

    /* end -------progress bar--------- */

    .seats-areas-chart img {
        max-width: 100%;
    }

    .ticket-price-title {
        display: none;
    }

    .ticket-data-row {
        flex-direction: column;
        flex-wrap: wrap;
        height: 12em;
        margin: auto 5px;
        align-items: normal;
        justify-content: center;
    }

    .area {
        width: 65%;
        height: 3.5em;
    }

    .select-type {
        width: 40%;
        line-height: 3em;
        height: 3em;
        text-align: left;
    }

    .ticket-price {
        width: 40%;
        line-height: 3em;
        height: 3em;
        text-align: left;
    }

    .amount {
        width: 33%;
        line-height: 3em;
        height: 3em;
        margin-right: 5px;
        text-align: right;
    }

    .agreement {
        line-height: 2em;
        margin: 30px 10px 105px 10px;
    }

    .btn-next-step {
        position: fixed;
        bottom: -1px;
        width: 100%;
        height: 5em;
        background-color: #efeeee;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn-next-step a {
        display: inline-block;
        width: 90%;
    }
}